.sidebar{
    display: flex;
    background-color: #f0f0f0;
    width: 10%;
    height: 700px;
    float: left;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar table{
    margin: 15px;
}

.sidebar ul{
    font-size: 15px;
    padding-left: 30px;
    padding-top: 5px;
}

.sidebar li{
    font-size: 13px;
    padding-left: 37px;
    padding-top: 10px;
}

.content{
    width: 88%;
    height: 50px;
    float: right;
}