*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}

a{
    text-decoration: none;
    color: inherit;
}

div{
    display: block;
}

.box-btn{
    margin-top: 30px;
    text-align: right;
    width: 95%;
}

.btn-text{
    font-size: 13px;
    padding: 8px 12px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn-text:focus{
    outline: none;
}

.btn-text:hover{
    background-color: black;
    color: white;
}

.service-qna{
    padding: 0px 80px;
}

.service-front-table{
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 17, 17);
    line-height: 1.2;
    border-width: 1px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.service-front-fonter-qna{
    display: flex;
	height: 60px;
	justify-content: center;
	width: 15%;
	align-items: center;
	font-weight: bold;
	line-height: 1.2;
}

.service-front-fonter-qna:hover{
    text-decoration: underline;
}

.service-front-fonter-notice{
    width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #999;
}

.service-front-fonter-notice:hover{
    text-decoration: underline #999;
}

.service-front-fonter-member{
    width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #999;
}
.service-front-fonter-member:hover{
    text-decoration: underline #999;
}

.mgb10{
    margin-top: 10px;
    margin-bottom: 0px;
}

.mgb15{
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 2.5;
}

.mgb20{
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 7.5;
}

table{
    border-collapse: collapse;
}

.service-qna-front th{
    padding: 10px;
    border-bottom: 1px solid #999;
}

.service-qna-front{
    width: 100%;

}

/*.service-qna-front tbody .qna-goods{
    width: 8%;
    height: 8%;
    padding-bottom: 0px;
}*/

.qna-no{
    width: 10%;
}

.qna-type{
	width: 15%;
}

.qna-type-td{
	width: 15%;
}

.qna-tit .qna-tit-td{
	width: 40%;
}

.qna-tit-td a:hover{
	text-decoration: underline;
}

.qna-nm{
	width: 10%;
}

.qna-date{
	width: 15%;
}

.service-qna-front{
    text-align: center;
}

.service-qna-front tbody tr .mgb20-txt{
    text-align: left;
    margin-left: 5%;
}

.service-qna-front tbody tr .mgb20-txt:hover{
    text-decoration: underline;
}

.service .paging{
    margin-top: 10px;
    font-size: 0px;
    text-align: center;
    color: rgb(150 150 150);
}

.service .paging a{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 400;
}

.service .paging .num-on{
    color: black;
    font-weight: 700;
}

.btn-group {
	display: flex;
    justify-content: center;
    margin-top : 30px;
}

.btn-group li {
	margin : 0 1vw;
}