*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}

a{
    text-decoration: none;
    color: inherit;
}

div{
    display: block;
}


.notice-enter-table{
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 17, 17);
    line-height: 1.2;
    border-width: 1px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.enter-table-qna{
    display: flex;
	height: 60px;
	justify-content: center;
	width: 15%;
	align-items: center;
	font-weight: bold;
    color: #999;
}
.enter-table-qna:hover{
    text-decoration: underline #999;
}

.enter-table-notice{
    width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.enter-table-notice:hover{
    text-decoration: underline;
}

.enter-table-member{
    width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #999;
}
.enter-table-member:hover{
    text-decoration: underline #999;
}


.mgb10{
    margin-top: 10px;
    margin-bottom: 0px;
}

.enter-table{
    max-width: 1000px;
    width: 100%;
    margin: 10px auto;
    margin-top: 30px;
    padding: 30px;
    font-size: 13px;
    line-height: 30px;
}

.enter-table-file,
.enter-table-content{
    line-height: 30px;
}

.enter-table-not-tit,
.enter-table-not-name,
.enter-table-not-date,
.enter-table-content,
.enter-table-file{
    border-bottom: 1px solid #dfdfdfd5;
    font-weight: 500;
}

.enter-table-file img {
	height: 300px;
}

.enter-table-comment {
	border-bottom: 2px solid #dfdfdfd5;
    padding-top: 10px;
}
.comment-title {
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdfd5;
}
.comment-title-title {
	font-size: 25px;
}

.comment-title-date {
	font-size: 15px;
}

#notice01{
    padding-left: 61px;
}

.enter-not02{
    padding-left: 50px;
}

.enter-table-file-btn{
    margin-left: 50px;
    width: 180px;
}


.box-btn{
    margin-top: 30px;
    text-align: left;
}

.btn-text{
    font-size: 13px;
    padding: 8px 50px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn-text:focus{
    outline: none;
}

.btn-text:hover{
    background-color: black;
    color: white;
}