*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}


div{
    display: block;
}

a:hover{
    text-decoration: underline black;
}

.total-box{
    margin: 0%;
    padding: 0%;
}


.content{
    width: 88%;
    height: 175px;
    float: right;
}

.table-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 50px;
    border-radius: 16px;
    width: 100%;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.table-cont{
    margin: 2% 0% 0% 0%;
    width: 100%;
}

.search{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.table-search03{
    padding-right: 20px;
}

.table-search03 select option{
    text-align: center;
}

.table-search02{
    padding-left: 20px;
    display: flex;
}

.search-btn{
    width: 70px;
    background-color: white;
}

.search-box{
    width: 150px;
}

.table-cont-btn{
    display: flex;
    padding-bottom: 30px;
    justify-content: flex-end;
    align-items: center;
}

.btn-text{
    font-size: 13px;
    padding: 5px 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn-text:focus{
    outline: none;
}

.btn-text:hover{
    background-color: black;
    color: white;
}



.btn-text .b01{
    padding-left: 50px;
}


.table-cont-cont01 table{
    border-collapse: collapse;
    width: 100%;
}

.table-cont-cont01 th,
.table-cont-cont01 td{
    border: 1px solid #999;
    text-align: center;
}

.table-cont-cont01 th{
    font-size: 17px;
}

.table-cont-cont01 td{
    font-size: 12px;
}







table{
    border-collapse: collapse;
}

.mgb10{
    margin-top: 10px;
    margin-bottom: 0px;
}

.mgb15{
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 3.5;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.mgb20{
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 3;
}

.service-notice{
    padding: 0px 0px;
}

.service-notice-front{
    width: 100%;
}

.service-notice-front th, td{
    border-bottom: 1px solid #999;
}

.not-tit{
    letter-spacing: 20px;
}

.service-notice-front{
    text-align: center;
}

.service-notice-front tbody tr .mgb20-txt{
    text-align: left;
    padding-left: 170px;
}

.service-notice-front tbody tr .mgb20-txt:hover{
    text-decoration: underline;
}

.not-no{
    width: 3%;
    border-right: 1px solid #999;
}

.notice .paging{
    margin-top: 55px;
    font-size: 0px;
    text-align: center;
    color: rgb(150 150 150);
}

.notice .paging a{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 400;
}

.notice .paging a:hover{
    text-decoration: underline;
}

.notice .paging .num-on{
    color: black;
    font-weight: 700;
}