*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}

a{
    text-decoration: none;
    color: inherit;
}

div{
    display: block;
}


.notice-front-table{
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 20px;
	font-weight: bold;    
    color: rgb(17, 17, 17);
    line-height: 1.2;
    border-width: 1px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.notice-front-fonter-qna{
    display: flex;
	height: 60px;
	justify-content: center;
	width: 15%;
	align-items: center;

    color: #999;
}
.notice-front-fonter-qna:hover{
    text-decoration: underline #999;
}

.notice-front-fonter-notice{
    width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.notice-front-fonter-notice:hover{
    text-decoration: underline;
}

.notice-front-fonter-member{
    width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #999;
}
.notice-front-fonter-member:hover{
    text-decoration: underline #999;
}

table{
    border-collapse: collapse;
}

.mgb10{
    margin-top: 10px;
    margin-bottom: 0px;
}

.mgb15{
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 2.5;
}

.mgb20{
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 7.5;
}

.service-notice{
    padding: 0px 80px;
}

.service-notice-front{
    width: 100%;
}

.service-notice-front th, td{
    padding: 10px;
    /*padding-left: 40px;*/
    border-bottom: 1px solid #999;
}

.not-no{
	width: 10%;
}

.not-tit .no-tit-td{
    width: 55%;
}

.not-tit-td:hover{
	text-decoration: underline;
}

.not-nm{
	width: 15%;
}

.not-date{
	width: 20%;
}

.service-notice-front{
    text-align: center;
}

.service-notice-front tbody tr .mgb20-txt{
    text-align: left;
    padding-left: 90px;
}

.service-notice-front tbody tr .mgb20-txt:hover{
    text-decoration: underline;
}

.notice .paging{
    margin-top: 10px;
    font-size: 0px;
    text-align: center;
    color: rgb(150 150 150);
}

.notice .paging a{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 400;
}

.notice .paging a:hover{
    text-decoration: underline;
}

.notice .paging .num-on{
    color: black;
    font-weight: 700;
}